@import url('../../App.css');

li{
    display: flex;
    margin: 10px 0;
    transition: 100ms;
}

li:hover{
    transform: scale(1.007);
}

li p {
    border: 1px solid var(--light-color);
    background: #0000007a;
    padding: 10px;
    border-radius: 4px;
    width: 90%;
}

li div{
    border: 1px solid var(--light-color);
    background: #00000053;
    padding: 10px;
    border-radius: 4px;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

li div i {
    font-weight: 700;
}