:root {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --success-color: #28a745;
  --danger-color: #dc3545;
  --warning-color: #ffc107;
  --info-color: #17a2b8;
  --light-color: #f8f9fa;
  --dark-color: #343a40;

  --primary-color-light: #53a9ff;
  --primary-color-dark: #005cb8;

  --secondary-color-light: #b3b8bd;
  --secondary-color-dark: #4d5459;

  --success-color-light: #66ff99;
  --success-color-dark: #009933;

  --danger-color-light: #ff6666;
  --danger-color-dark: #990000;

  --warning-color-light: #ffd966;
  --warning-color-dark: #cc9900;

  --info-color-light: #66ccff;
  --info-color-dark: #0066cc;

  --light-color-light: #f2f3f4;
  --light-color-dark: #d6d8db;

  --dark-color-light: #4d5258;
  --dark-color-dark: #1a1d21;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

li {
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.principal_container{
  min-height: 100vh;
  background: url('https://cdn.pixabay.com/photo/2024/05/26/15/27/anime-8788959_1280.jpg') center/cover no-repeat;
  color: var(--light-color-light);
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header_container{
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
  /* max-width: 500px; */
}

.listsContainer{
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  flex-grow: 20;
  /* max-width: 1100px; */
  min-width: 900px;
}

@media (max-width:910px) {
  .listsContainer{
    flex-wrap: wrap;
    min-width:0;
  }
}

.App-header {
  background-color: #233553;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #97ca3f;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


::-webkit-scrollbar {
  -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
  width:8px;
}

::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;
} 

::-webkit-scrollbar:horizontal {
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #e55c7e77;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;  
}